html, body, #root {
    height: 100%;
}

body {
    margin: 0;
}
.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0f172a;
}
.profile-content {
    flex: 1;
}